body {
    background-color: #0e0e0e;
    font-family: Arial, sans-serif;
}

.toplink {
    color: grey;
}

.navbar{
    color: white; 
    padding-left: 100px; 
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.search{
    background-color: #0e0e0e;
    color: grey;
    padding: 10px 20px;
    border: 2px;  
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.button-mac {
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 25px;
    border: none;
}

.button-copilot{
    background-color: grey;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
}

.content{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}